.div-pai-lista-tarefas {
    margin: 50px ;

    border-top: 1px solid #ccc;

    width: 90vw;
    height: 100vh;

    
}

.lista-tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}