.tarefa {
    background: rgba(255,255,255,0.06);
    padding: 16px 20px;
    border-radius: 12px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.08);
    transition: 0.25s;

    width: 40%;

    font-size: large;
}

.tarefa:hover {
    background: rgba(255,255,255,0.12);
    transform: translateX(4px);
    cursor: pointer;
}

.checkbox-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}