.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #382087;
  background: linear-gradient(138deg, rgba(56, 32, 135, 1) 0%, rgba(28, 17, 69, 1) 32%, rgba(16, 8, 33, 1) 80%, rgba(0, 0, 0, 1) 100%);

  min-height: 100vh;
  min-width: 100vw;

  color: white;
}